body {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.sizing, .box--child--1, .box--child--2, .box--child--3, .box--child--5, .box--child--6 {
  width: 85%;
  height: 85%;
}

.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (120px)[2];
      grid-template-columns: repeat(2, 120px);
  -ms-grid-rows: (120px)[3];
      grid-template-rows: repeat(3, 120px);
  position: relative;
}

.box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(98%);
          transform: translate(-50%, -50%) scale(98%);
  width: 780px;
  height: 780px;
  z-index: -15;
  border-radius: 50%;
  -webkit-animation: bg-color .5s 3.25s ease forwards;
          animation: bg-color .5s 3.25s ease forwards;
}

.box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  width: 780px;
  height: 780px;
  background: #fff;
  z-index: -10;
  border-radius: 50%;
  -webkit-animation: bg-trans 3.25s 1s ease forwards;
          animation: bg-trans 3.25s 1s ease forwards;
}

@-webkit-keyframes bg-color {
  from {
    background: #fff;
  }
  to {
    background: #f67e71;
  }
}

@keyframes bg-color {
  from {
    background: #fff;
  }
  to {
    background: #f67e71;
  }
}

@-webkit-keyframes bg-trans {
  0% {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  80% {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes bg-trans {
  0% {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  80% {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.box div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box--child:nth-child(1) {
  -webkit-animation: box-1 1.5s 3s ease forwards;
          animation: box-1 1.5s 3s ease forwards;
}

.box--child:nth-child(2) {
  -webkit-animation: box-2 1.5s 3s ease forwards;
          animation: box-2 1.5s 3s ease forwards;
}

.box--child:nth-child(3) {
  -webkit-animation: box-3 1.5s 3s ease forwards;
          animation: box-3 1.5s 3s ease forwards;
}

.box--child:nth-child(4) {
  -webkit-animation: box-4 1.5s 3s ease forwards;
          animation: box-4 1.5s 3s ease forwards;
}

.box--child:nth-child(5) {
  -webkit-animation: box-5 1.5s 3s ease forwards;
          animation: box-5 1.5s 3s ease forwards;
}

.box--child:nth-child(6) {
  -webkit-animation: box-6 1.5s 3s ease forwards;
          animation: box-6 1.5s 3s ease forwards;
}

.box--child {
  position: relative;
}

.box--child--1 {
  border-radius: 50%;
  border: 3px solid #222;
  opacity: 0;
  -webkit-animation: scale-up 1s ease forwards;
          animation: scale-up 1s ease forwards;
}

.box--child--2 {
  border: 3px solid #222;
  border-right: none;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  opacity: 0;
  -webkit-animation: rotate-fixed 1s 0.75s ease forwards;
          animation: rotate-fixed 1s 0.75s ease forwards;
}

.box--child--3 {
  border-radius: 50%;
  border: 3px solid #222;
  opacity: 0;
  -webkit-animation: fade-in-left 0.5s 1s ease forwards;
          animation: fade-in-left 0.5s 1s ease forwards;
}

.box--child--4 {
  width: 80%;
  height: 5px;
  -webkit-transform: skewY(-45deg);
          transform: skewY(-45deg);
  background: pink;
  opacity: 0;
  -webkit-animation: rotate-width 1s 2s ease forwards;
          animation: rotate-width 1s 2s ease forwards;
}

.box--child--5 {
  border-bottom: 3px solid #222;
  opacity: 0;
  -webkit-animation: fade-in-top 1s 1.5s ease forwards;
          animation: fade-in-top 1s 1.5s ease forwards;
  position: relative;
}

.box--child--5::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 115%;
  background: #222;
  width: 3px;
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

.box--child--5::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 115%;
  background: #222;
  width: 3px;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.box--child--6 {
  border: 3px solid #222;
  border-right: none;
  border-top: none;
  opacity: 0;
  -webkit-animation: rotate 1s 1.5s ease forwards;
          animation: rotate 1s 1.5s ease forwards;
}

@-webkit-keyframes fade-in-left {
  0% {
    opacity: 0.6;
    -webkit-transform: translateX(-75px);
            transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0.6;
    -webkit-transform: translateX(-75px);
            transform: translateX(-75px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes rotate-fixed {
  from {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate-fixed {
  from {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes scale-up {
  0% {
    opacity: 0;
    -webkit-transform: scale(90%);
            transform: scale(90%);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@keyframes scale-up {
  0% {
    opacity: 0;
    -webkit-transform: scale(90%);
            transform: scale(90%);
  }
  to {
    opacity: 1;
    -webkit-transform: scale(100%);
            transform: scale(100%);
  }
}

@-webkit-keyframes fade-in-top {
  from {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes rotate {
  from {
    opacity: 0;
    -webkit-transform: rotate(-75deg);
            transform: rotate(-75deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotate {
  from {
    opacity: 0;
    -webkit-transform: rotate(-75deg);
            transform: rotate(-75deg);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes rotate-width {
  from {
    opacity: 0;
    width: 50%;
    -webkit-transform: skewY(30deg);
            transform: skewY(30deg);
  }
  to {
    opacity: 1;
    width: 80%;
    -webkit-transform: skewY(-45deg);
            transform: skewY(-45deg);
  }
}

@keyframes rotate-width {
  from {
    opacity: 0;
    width: 50%;
    -webkit-transform: skewY(30deg);
            transform: skewY(30deg);
  }
  to {
    opacity: 1;
    width: 80%;
    -webkit-transform: skewY(-45deg);
            transform: skewY(-45deg);
  }
}

@-webkit-keyframes box-1 {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
}

@keyframes box-1 {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(0%, 100%);
            transform: translate(0%, 100%);
  }
}

@-webkit-keyframes box-2 {
  from {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-5%, 100%) rotate(90deg);
            transform: translate(-5%, 100%) rotate(90deg);
  }
}

@keyframes box-2 {
  from {
    -webkit-transform: translate(0%, 0%) rotate(0deg);
            transform: translate(0%, 0%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-5%, 100%) rotate(90deg);
            transform: translate(-5%, 100%) rotate(90deg);
  }
}

@-webkit-keyframes box-3 {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(-95%, 0%);
            transform: translate(-95%, 0%);
  }
}

@keyframes box-3 {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(-95%, 0%);
            transform: translate(-95%, 0%);
  }
}

@-webkit-keyframes box-4 {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(180%, 0%);
            transform: translate(180%, 0%);
  }
}

@keyframes box-4 {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(180%, 0%);
            transform: translate(180%, 0%);
  }
}

@-webkit-keyframes box-5 {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(190%, -100%);
            transform: translate(190%, -100%);
  }
}

@keyframes box-5 {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(190%, -100%);
            transform: translate(190%, -100%);
  }
}

@-webkit-keyframes box-6 {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(-280%, -100%);
            transform: translate(-280%, -100%);
  }
}

@keyframes box-6 {
  from {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  to {
    -webkit-transform: translate(-280%, -100%);
            transform: translate(-280%, -100%);
  }
}
/*# sourceMappingURL=style.css.map */